{% extends "layout.html" %}

{% set pageId = "page-create-point" %}

{# Title #}
{% block title %}
    <title>Cria um ponto de doação</title>
{% endblock title %}

{# Styles #}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="./styles/create-point.css">
    <link rel="stylesheet" type="text/css" href="./styles/modal.css">
{% endblock styles %}

{# Content #}
{% block content %}
    <!-- Para não precisar modificar a mesma header em diversar páginas o nunjucks nos possibilita trabalhar com o include abaixo para modificar apenas em um arquivo e atualizar em todas as páginas que utilza o mesmo header -->
    {% include "partials/page-header.html" %}

    <form action="/savepoint" method="POST">
        <h1>
            Cadastro do ponto de doação
        </h1>

        <!-- Coleção de campos -->
        <fieldset>
            <legend>
                <h2>Dados do doador</h2>
            </legend>

            <!-- Nome / imagem -->
            <div class="field-group">
                <div class="field">
                    <label for="name">Nome do doador</label>
                    <input type="text" name="name" required="required">
                </div>

                <div class="field">
                    <label for="name">Imagem das doações</label>
                    <input type="url" name="image" required="required" placeholder="http://  img180x150">
                </div>
            </div>

            <!-- Field group -->
            <div class="field-group">

                <!-- Endereço -->
                <div class="field">
                    <label for="address">Endereço</label>
                    <input type="text" name="address" required="required">
                </div>
                <!-- Número/Complemento -->
                <div class="field">
                    <label for="address2">Número/Complemento</label>
                    <input type="text" name="address2" required="required">
                </div>
            </div>

            <div class="field-group">

                <!-- Estado -->
                <div class="field">
                    <label for="state">Estado</label>
                    <select name="uf" required="required">
                        <option value="">Selecione o Estado</option>
                    </select>

                    <input type="hidden" name="state">
                </div>

                <!-- Cidade -->
                <div class="field">
                    <label for="city">Cidade</label>
                    <select name="city" disabled="disabled" required="required">
                        <option value="">Selecione a Cidade</option>
                    </select>
                </div>
            </div>

        </fieldset>

        <!--Itens de coleta-->
        <fieldset>
            <legend>
                <h2>Itens para doação</h2>
                <span>Selecione um ou mais itens abaixo</span>
            </legend>

            <div class="items-grid">
                <li data-id="Monitor">
                    <!--data-id atributo especial do html-->
                    <img src="assets/icons/rocket.svg" alt="Monitor">
                    <span>Monitor</span>
                </li>

                <li data-id="Teclado">
                    <!--data-id atributo especial do html-->
                    <img src="assets/icons/keyboard.svg" alt="Teclado">
                    <span>Teclado</span>
                </li>

                <li data-id="Fone de Ouvido">
                    <!--data-id atributo especial do html-->
                    <img src="assets/icons/headphones.svg" alt="Fone de Ouvido">
                    <span>Fone de Ouvido</span>
                </li>

                <li data-id="Mouse">
                    <!--data-id atributo especial do html-->
                    <img src="assets/icons/mouse.svg" alt="Mouse">
                    <span>Mouse</span>
                </li>

                <li data-id="Material Auxiliar">
                    <!--data-id atributo especial do html-->
                    <img src="assets/icons/study.svg" alt="Material Auxiliar">
                    <span>Material Auxiliar</span>
                </li>

                <li data-id="Cabos de Conexão">
                    <!--data-id atributo especial do html-->
                    <img src="assets/icons/usb-cable.svg" alt="Cabos de Conexão">
                    <span>Cabos de Conexão</span>
                </li>
            </div>

            <input type="hidden" name="items">

        </fieldset>

        <button type="submit">Cadastrar ponto de doação</button>

    </form>

{% endblock content %}

{% block modal %}
    {% if saved %}
        {%include "partials/point-created.html"%}
    {% endif %}
{% endblock modal %}

{# Scripts #}
{% block scripts %}
    <script src="/scripts/create-point.js"></script>
{% endblock scripts %}